﻿@model csharp4_lesson11.Models.Services
@{
    ViewBag.Title = "Edit";
}

<h2>Services</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Services</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.priceperservice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.priceperservice)
            @Html.ValidationMessageFor(model => model.priceperservice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.typeofservice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.typeofservice)
            @Html.ValidationMessageFor(model => model.typeofservice)
        </div>

        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
}