﻿@model IEnumerable<csharp4_lesson11.Models.Services>
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>
<table>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th>@Html.DisplayNameFor(model=>model.Id)</th>
    <th>@Html.DisplayNameFor(model=>model.priceperservice)</th>
    <th>@Html.DisplayNameFor(model=>model.typeofservice)</th>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@Html.ActionLink("Create", "Create", "Services")</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = x.Id})</td>
        <td>@Html.ActionLink("Delete", "Delete", new {id = x.Id })</td>
        <td>@Html.DisplayFor(model => x.Id)</td>
        <td>@Html.DisplayFor(model => x.priceperservice)</td>
        <td>@Html.DisplayFor(model => x.typeofservice)</td>
    </tr>
}
</table>
