﻿@model csharp4_lesson11.Models.Employees
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employees</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeName.first)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName.first)
            @Html.ValidationMessageFor(model => model.EmployeeName.first)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeName.middle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName.middle)
            @Html.ValidationMessageFor(model => model.EmployeeName.middle)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeName.last)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName.last)
            @Html.ValidationMessageFor(model => model.EmployeeName.last)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeName.full)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeName.full)
            @Html.ValidationMessageFor(model => model.EmployeeName.full)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.wage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.wage)
            @Html.ValidationMessageFor(model => model.wage)
        </div>

            <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>

            <div class="editor-label">
            @Html.LabelFor(model => model.wage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.wage)
            @Html.ValidationMessageFor(model => model.wage)
        </div>

        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
}