﻿@model IEnumerable<csharp4_lesson11.Models.Employees>
@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>
<table>
<tr>
    @if (Request.IsAuthenticated)
    {
        <th></th>
        <th></th>
        <th></th>
    }
    <th>@Html.DisplayNameFor(model => model.Id)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.first)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.middle)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.last)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.full)</th>
    <th>@Html.DisplayNameFor(model => model.wage)</th>
    <th>@Html.DisplayNameFor(model => model.Position)</th>
</tr>
@foreach (var x in Model)
{
    <tr>
    @if (Request.IsAuthenticated)
    {
        <td>@Html.ActionLink("Create", "Create", "Lawn")</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = x.Id })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = x.Id })</td>
    }
        <td>@Html.DisplayFor(model => x.Id)</td>
        <td>@Html.DisplayFor(model => x.EmployeeName.first)</td>    
        <td>@Html.DisplayFor(model => x.EmployeeName.middle)</td>
        <td>@Html.DisplayFor(model => x.EmployeeName.last)</td>
        <td>@Html.DisplayFor(model => x.EmployeeName.full)</td>
        <td>@Html.DisplayFor(model => x.wage)</td>
        <td>@Html.DisplayFor(model => x.Position)</td>
    </tr>
}
</table>
