﻿@model IEnumerable<csharp4_lesson11.Models.Employees>
@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>
<table>
<tr>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.first)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.middle)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName.last)</th>
    <th>@Html.DisplayNameFor(model => model.Position)</th>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@Html.DisplayFor(model=>x.EmployeeName.first)</td>
        <td>@Html.DisplayFor(model=>x.EmployeeName.middle)</td>
        <td>@Html.DisplayFor(model=>x.EmployeeName.last)</td>
        <td>@Html.DisplayFor(model=>x.Position)</td>
    </tr>
}
</table>

