﻿@model csharp4_lesson11.Models.Schedule
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.scheduleddate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.scheduleddate)
            @Html.ValidationMessageFor(model => model.scheduleddate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.scheduletime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.scheduletime)
            @Html.ValidationMessageFor(model => model.scheduletime)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.customername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.customername)
            @Html.ValidationMessageFor(model => model.customername)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.servicepaid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.servicepaid)
            @Html.ValidationMessageFor(model => model.servicepaid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.serviceid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.serviceid)
            @Html.ValidationMessageFor(model => model.serviceid)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}