﻿@model IEnumerable<csharp4_lesson11.Models.Employees>
@{
    ViewBag.Title = "Schedule";
}

<h2>Employees</h2>
@Html.ActionLink("Create", "Create", "Lawn")
<table>
<tr>
    <th></th>
    <th></th>
    <th>@Html.DisplayNameFor(model => model.Id)</th>
    <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
    <th>@Html.DisplayNameFor(model => model.wage)</th>
    <th>@Html.DisplayNameFor(model => model.Position)</th>
    <th>@Html.DisplayNameFor(model => model.CompanyId)</th>
</tr>
@foreach (var x in Model)
{
    <tr>       
        <td>@Html.ActionLink("Edit", "Edit", new { id = x.Id})</td>
        <td>@Html.ActionLink("Delete", "Delete", new {id = x.Id })</td>
        <td>@Html.DisplayFor(model => x.Id)</td>
        <td>@Html.DisplayFor(model => x.EmployeeName)</td>
        <td>@Html.DisplayFor(model => x.wage)</td>
        <td>@Html.DisplayFor(model => x.Position)</td>
        <td>@Html.DisplayFor(model => x.CompanyId)</td>
    </tr>
}
</table>
