﻿@model IEnumerable<csharp4_lesson11.Models.Schedule>
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>
<table>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th>@Html.DisplayNameFor(model =>model.scheduleddate)</th>
    <th>@Html.DisplayNameFor(model => model.scheduletime)</th>
    <th>@Html.DisplayNameFor(model => model.customername)</th>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@Html.ActionLink("Create", "Create", "Schedule")</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = x.Id})</td>
        <td>@Html.ActionLink("Delete", "Delete", new {id = x.Id })</td>
        <td>@Html.DisplayFor(model => x.scheduleddate)</td>
        <td>@Html.DisplayFor(model => x.scheduletime)</td>
        <td>@Html.DisplayFor(model => x.customername)</td>
    </tr>
}
</table>
